.tittleBar {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 90px;
  background: #202020 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
.form-control:focus {
  border: 2px solid #ed0c6d !important;
  box-shadow: none;
}
.select-filter-row {
  top: 30px;
  left: 30px;
  select {
    width: 282px;
    padding: 7px 0px 9px 59px;
    text-align: left;
    font: normal normal Montserrat;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #202020;
    height: 40px;
  }
  .sort-by {
    z-index: 999;
    position: absolute;
    margin: 11px 0px 0px 14px;
    text-align: left;
    font: normal normal Montserrat;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #202020;
  }
}
.searched-title-row {
  top: 30px;
  left: 30px;
  .searched-title {
    text-align: left;
    font: normal normal Poppins;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 27px;
    color: #202020;
    opacity: 1;
  }
}
.searched-title2-row {
  top: 10px;
  left: 30px;
  .searched-title2 {
    text-align: left;
    font-style: normal;
    font-family: Poppins;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 14px;
    line-height: 21px;
    color: #202020;
    opacity: 1;
  }
}
.booking-option-row {
  top: 15px;
  left: 30px;
  .booking-content {
    text-align: left;
    font-style: normal;
    font-family: Poppins;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #202020;
    opacity: 1;
  }
  .badge {
    border-radius: 16px;
    overflow: hidden;
    background: #d2d2d2 0% 0% no-repeat padding-box;
    .badge-text {
      text-align: left;
      font-style: normal;
      font-family: Poppins;
      font-variant: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #202020;
      opacity: 1;
      margin: 1px 0px 0px 10px;
    }
    .badge-button {
      height: 24px;
      width: 24px;
      border-radius: 50px;
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      margin: -1px;
      text-align: center;
      padding: 6px 0;
    }
  }
  .badge1 {
    top: 298px;
    left: 562px;
    width: 90px;
    height: 30px;
  }
  .badge2 {
    top: 298px;
    left: 686px;
    width: 109px;
    height: 30px;
  }
  .badge3 {
    top: 298px;
    left: 829px;
    width: 108px;
    height: 30px;
  }
  .icon-right {
    top: 10px;
  }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-bottom: 3px solid #ed0c6d !important;
  border: none;
  cursor: pointer;
}
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link :hover {
  color: #cccccc;
  border-bottom: 2px solid #cccccc !important;
  border: none;
  cursor: pointer;
}
.tab-title {
  text-align: center;
  font: normal normal 300 16px/15px Montserrat;
  letter-spacing: 0px;
  color: #202020;
  text-transform: capitalize;
  opacity: 0.5;
}
.tab-title-active {
  text-align: center;
  font: normal normal 600 16px/15px Montserrat;
  letter-spacing: 0px;
  color: #292929;
  text-transform: capitalize;
  opacity: 1;
}
.match-title {
  text-align: left;
  font: normal normal 600 25px/38px Poppins;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}
hr {
  top: 485px;
  left: 371px;
  width: 1100px;
  height: 0px;
  border: 1px solid #707070;
  opacity: 1;
}
.tab-backgroud {
  background: #f4f8fb 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 12px #00000029;
  opacity: 1;
}
.nth-child-padding:nth-child(2n + 1) {
  padding-right: 30px !important;
}
// .nth-child-card-width:nth-child(2n + 1) {
//   width: 50% !important;
// }
.property-class {
  width: 745px;
  height: 211px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #00000029;
  opacity: 1;
  margin: 0 0 30px 0px;
  padding: 5px 5px 5px 10px;
  // .img-fluid {
  //   width: 150px;
  //   height: 171px;
  //   margin: 14px 0px 14px 20px;
  //   // padding: 10px 10px 10px 18px;
  //   // background: transparent url("./../../../../assets/search-bg.png") 0% 0% no-repeat padding-box;
  //   opacity: 1;
  // }

  .property-match {
    width: 83px;
    height: 26px;
    background: #202020 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    text-align: center;
    font: normal normal 600 11px/17px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 5px;
  }
  ul {
    list-style-type: none;

    li {
      .property-location {
        text-align: left;
        font: normal normal normal 13px/20px Poppins;
        letter-spacing: 0px;
        color: #202020;
        opacity: 0.48;
      }
      .location-icon {
        padding: 1px 0 0 10px;
        font-size: 15px;
        line-height: 20px;
        color: #ed0c6d;
      }
      .property-description {
        font: normal normal 300 12px/18px Poppins;
        letter-spacing: 0px;
        text-align: justify;
        font-size: 12px;
        line-height: 15px;
        color: #202020;
        opacity: 1;
      }
    }
  }
}
.show-more-design {
  text-align: left;
  font: normal normal medium Poppins;
  letter-spacing: 0px;
  color: #ed0c6d;
  opacity: 1;
  font-size: 12px;
  line-height: 1px;
  cursor: pointer;
  display: contents;
}

.showMore {
  height: auto !important;
}

//similar cards
.property-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 12px #00000029;
  opacity: 1;
  width: auto;
  height: 211px;
  margin: 31.25px 0px 31.25px 0px;
  .featured-badge {
    width: 76px;
    height: 20px;
    background: #fecd38 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
    opacity: 1;
    z-index: 1;
    margin: 8% 0 0 2%;
    position: absolute;
    span {
      text-align: center;
      font: normal normal 600 10px/16px Poppins;
      letter-spacing: 0px;
      color: #202020;
      text-transform: uppercase;
      opacity: 1;
      position: absolute;
      margin: 3px -23px;
    }
  }
  .img-fluid {
    width: 300px;
    height: 179px;
    margin: 14px 0px 14px 15px;
    // padding: 10px 10px 10px 18px;
    // background: transparent url("./../../../../assets/search-bg.png") 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  ul {
    list-style-type: none;
    li {
      //for property name
      .property-name {
        text-align: left;
        font: normal normal 600 20px/30px Poppins;
        letter-spacing: 0px;
        color: #202020;
        opacity: 1;
      }
      //for property Address
      .property-location {
        text-align: left;
        font: normal normal normal 13px/20px Poppins;
        letter-spacing: 0px;
        color: #202020;
        opacity: 0.48;
      }
      //for property ratings
      .rating-div {
        margin: 0px 100px 0px 0px;
        .rating {
          margin-left: 10px;
          font-size: 20px;
          // background: #ed0c6d 0% 0% no-repeat padding-box;
          // opacity: 1;
          width: 17px;
          height: 16px;
          // color: #ed0c6d;
          .star {
            margin: 3px;
            color: #8d8a8a57;
            font-size: 20px;
            width: 17px;
            height: 16px;
          }
          .filled {
            margin: 3px;
            font-size: 20px;
            width: 17px;
            height: 16px;
            color: #facd48 !important;
          }
        }
      }

      //for distance location
      .location-icon {
        padding: 1px 0 0 10px;
        font-size: 22px;
        line-height: 20px;
        color: #ed0c6d;
      }
      .distance {
        text-align: left;
        font: normal normal medium Poppins;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #202020;
        opacity: 1;
      }
      //for property discription
      .property-description {
        text-align: left;
        font: normal normal 300 13px/20px Poppins;
        letter-spacing: 0px;
        color: #202020;
        opacity: 1;
      }
      //property badge
      .property-badge {
        background: #f9d9e8 0% 0% no-repeat padding-box;
        border-radius: 14px;
        width: auto;
        height: 28px;
        span {
          text-align: center;
          font: normal normal normal 14px/21px Poppins;
          letter-spacing: 0px;
          color: #ed0c6d;
          padding: 8px 11px;
        }
      }
      .property-match {
        height: 20px;
        width: 60px;
      }
    }
  }
  .price-card {
    background: #fbfbfb 0% 0% no-repeat padding-box;
    .price-title {
      padding-top: 21px;
      #p-title {
        text-align: left;
        font: normal normal medium Poppins;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #202020;
        opacity: 0.7;
      }
    }
    #price {
      text-align: left;
      font: normal normal 600 18px/27px Poppins;
      letter-spacing: 0px;
      color: #202020;
      opacity: 1;
    }
    .price-btn {
      margin: 55% 0px 11% 0px;
      button {
        width: 154px;
        height: 39px;
        background: #ed0c6d 0% 0% no-repeat padding-box;
        opacity: 1;
        border-color: #ed0c6d;
        span {
          text-align: center;
          font: normal normal 600 13px/20px Poppins;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
        }
      }
    }
  }
}

//for filter sidebar
.filter {
  width: 320px;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 12px #00000029;
  opacity: 1;
  .filter-text-div {
    margin: 30px 243px 0px 30px;
    span {
      text-align: left;
      font: normal normal bold 16px/19px Montserrat;
      letter-spacing: 0px;
      color: #202020;
      opacity: 1;
    }
  }
  .filter-search-div {
    margin: 20px 30px 0px 30px;
    input {
      padding-right: 35px;
    }
    input:focus {
      border: 2px solid #ed0c6d !important;
      box-shadow: none !important;
    }
    span {
      position: relative;
      float: right;
      z-index: 1;
      width: 13px;
      height: 13px;
      color: #8f8f8f !important;
      margin: -31px 20px 0 10px;
    }
  }
  .filter-clear-div {
    margin: 7px 200px 0px 30px;
    span {
      text-align: left;
      font: normal normal 600 13px/16px Montserrat;
      letter-spacing: 0px;
      color: #ed0c6d;
      opacity: 1;
    }
  }
  //customer rating
  .filter-customer-div {
    .rating {
      margin-left: 10px;
      font-size: 20px;
      // background: #ed0c6d 0% 0% no-repeat padding-box;
      // opacity: 1;
      width: 17px;
      height: 16px;
      // color: #ed0c6d;
      .star {
        margin: 3px;
        color: black;
        font-size: 20px;
        width: 17px;
        height: 16px;
      }
      .filled {
        margin: 3px;
        font-size: 20px;
        width: 17px;
        height: 16px;
        color: #ed0c6d !important;
      }
    }

    .ratings-name {
      padding: 0px 10px 0px 116px;
    }
  }
  .filter-type-div {
    margin: 20px 0px 0px 30px;
  }
}

//search icon
.search-icon {
  color: #ed0c6d;
  font-size: 24px;
  padding-right: 20px;
}

//filter type value
.filter-value {
  text-align: left;
  font: normal normal normal 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
  margin-left: 10px;
}
// filter type name
.filter-title {
  text-align: left;
  font: normal normal 600 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}
// hr in filter
.filter-hr-div {
  margin: 20.5px 20.5px 0px 0px;
  hr {
    border: 0.5px solid #202020;
    opacity: 0.25;
    width: auto;
    height: 0px;
  }
}
.property-detail {
  width: auto;
}
