.search-header {
  position: fixed;
}
.search-body {
  // background: transparent url("./../../../../assets/search-bg.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 0px;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow-y: scroll;
  position: absolute;
}
.body-container {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60%;
  transform: translate(-50%, -50%);
  .img-fluid {
    padding: 0px;
    height: 120px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    text-align: center;
    font: normal normal medium Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    width: 100%;
    top: 37%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
  }
  .searchBar {
    display: flex;
    width: 62%;
    position: relative;
    top: 81%;
    left: 60%;
    height: 50%;
    transform: translate(-50%, -50%);

    .flex-width {
      // width: 100%;
      // background: #ffffff 0% 0% no-repeat padding-box;
      // box-shadow: 0px 3px 12px #00000029;
      // border-radius: 35px !important;
      // opacity: 1;
      // margin: 30% 0 7% 0;
      width: 80%;
      margin-right: -24%;
    }
    .search-btn {
      text-align: center;
      width: auto;
      height: auto;
    }
  }

}
.auto-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ng-autocomplete {
  ::ng-deep .autocomplete-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 12px #00000029;
  }
}
.ng-autocomplete {
  ::ng-deep .autocomplete-container,
  ::ng-deep .autocomplete-container input {
    width: 70%;
  }
}
.ng-autocomplete {
  ::ng-deep .autocomplete-container input {
    width: 100%;
    padding-right: 34px;
  }
}

.searchButton {
  width: 80px;
  height: 40px;
  border: 1px solid #f2006c;
  background: #f2006c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#auto-searchbar .autocomplete-container .input-container input {
  padding-right: 35px !important;
}

@media screen and (max-width: 1024px) {
  .img-fluid {
    padding: 10px;
    height: 120px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // .title {
  //   top: 30%;
  //   left: -160px;
  //   width: 848px;
  //   height: 56px;
  //   text-align: left;
  //   font: normal normal medium Poppins;
  //   letter-spacing: 0px;
  //   color: #ffffff;
  //   opacity: 1;
  //   font-size: 30px;
  //   position: absolute;
  // }
}

@media screen and (max-width: 768px) {
  .img-fluid {
    padding: 20px;
    height: 120px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // .title {
  //   top: 35%;
  //   left: -95px;
  //   width: 848px;
  //   height: 56px;
  //   text-align: left;
  //   font: normal normal medium Poppins;
  //   letter-spacing: 0px;
  //   color: #ffffff;
  //   opacity: 1;
  //   font-size: 20px;
  //   position: absolute;
  // }
}

@media screen and (max-width: 425px) {
  .search-header {
    background: #202020 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    height: 70px;
    width: 100%;
    margin-left: 0px;
    position: fixed;
    margin-left: 76px;
  }
  .img-fluid {
    padding: 30px;
    height: 120px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // .title {
  //   top: 0%;
  //   left: -85px;
  //   width: 848px;
  //   height: 56px;
  //   text-align: left;
  //   font: normal normal medium Poppins;
  //   letter-spacing: 0px;
  //   color: #ffffff;
  //   opacity: 1;
  //   font-size: 18px;
  //   position: absolute;
  // }
}

@media screen and (max-width: 375px) {
  .search-header {
    background: #202020 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    height: 70px;
    width: 100%;
    margin-left: 0px;
    position: fixed;
  }
  .img-fluid {
    padding: 30px;
    height: 120px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // .title {
  //   top: 10%;
  //   left: -60px;
  //   width: 848px;
  //   height: 56px;
  //   text-align: left;
  //   font: normal normal medium Poppins;
  //   letter-spacing: 0px;
  //   color: #ffffff;
  //   opacity: 1;
  //   font-size: 14px;
  //   position: absolute;
  // }
}

.loader-container {
  z-index: 1;
  position: relative;
}
