<ngx-loading [show]="loading" [config]="{
  primaryColour: '#ED0C6D', secondaryColour: '#ED0C6D', tertiaryColour: '#ED0C6D'}">
</ngx-loading>
<div class="container-div" id="search">
  <div class="row col-md-12 search-body">
    <div class="body-container text-center">
      <span class="logo-text">COLIVE</span>
      <!-- <img class="img-fluid auto-center" alt="Colive" src="./../../../../assets/paginator.png"> -->
      <div class="flex-width" id="auoComplete" [ngClass]="{'input-search':searchQuery!=='' || suggestionList.length }">
        <ng-autocomplete class="ng-autocomplete" placeholder="Search property or location" id="auto-searchbar"
          (selected)='selectEvent($event)' (keypress)="keyPress($event)" [searchKeyword]="'name'"
          (inputChanged)='onChangeSearch($event)' [data]="suggestionList" [itemTemplate]="itemTemplate"
          [(ngModel)]="searchQuery" [notFoundTemplate]="notFoundTemplate" [focusFirst]="true">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <div class="d-flex" id="item-list">
            <ng-container *ngIf="item.type=='location'; else logotemp">
              <span class="material-icons-outlined location-property">location_on</span>
            </ng-container>
            <ng-template #logotemp>
              <span class="material-icons-outlined location-property">location_city</span>
            </ng-template>
            <a class="suggestion-text" [innerHTML]="item.name"></a>
          </div>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <!-- <div class="text-left">
            <a id="not-found" [innerHTML]="searchQuery"></a>
          </div> -->
        </ng-template>

        <span id="search-span" class="material-icons search-icon">search</span>
        <!-- <span id="mic-span" class="material-icons mic-icon" (click)="startVoiceRecognition()">mic_none</span> -->
      </div>
      <div class="search-btn" id="search-button">
        <button type="submit"  class="searchButton" [disabled]="disableButton"
          (click)="searchFunctionFormat()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="voiceActiveSectionDisabled; else voicesection;">
  <button type="button" (click)="startVoiceRecognition()">Record</button>
</div>
<ng-template #voicesection>
  <ng-container *ngIf="!voiceActiveSectionError; else failure">
    <ng-container *ngIf="voiceText; else start">
        <span>{{voiceText}}</span>
    </ng-container>
    <ng-template #start>
      <ng-container
        *ngIf="voiceActiveSectionListening; else beginning">
        <span>Listening...</span>
      </ng-container>
      <ng-template #beginning>
        <span>Start talking...</span>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #failure>
    <span>Didn't catch that</span>
  </ng-template>
  <div>
    <button (click)="closeVoiceRecognition()">Close</button>
    <button (click)="startVoiceRecognition()">Restart</button>
  </div>
</ng-template> -->
