<ngx-loading [show]="loading" [config]="{
  primaryColour: '#ED0C6D', secondaryColour: '#ED0C6D', tertiaryColour: '#ED0C6D'}">
</ngx-loading>
<div>
  <div class="row col-md-12 search-body">
    <div class="body-container text-center">
      <span class="logo-text">COLIVE</span>
      <!-- <img class="img-fluid auto-center" alt="Colive" src="./../../../../assets/paginator.png"> -->
      <div class="flex-width">
        <ng-autocomplete class="ng-autocomplete" placeholder="Search property or location" id="auto-searchbar" (selected)='selectEvent($event)'
        (keypress)="keyPress($event)"  [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate" [(ngModel)]="searchQuery">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <!-- <div [innerHTML]="notFound"></div> -->
        </ng-template>
        <span id="search-span" class="material-icons search-icon">search</span>
        <!-- <span id="mic-span" class="material-icons mic-icon">mic_none</span> -->
      </div>
      <div class="search-btn">
        <button type="submit" class="searchButton" [disabled]="disableButton" (click)="searchFunctionFormat()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
