<ngx-loading [show]="loading" [config]="{
  primaryColour: '#ED0C6D', secondaryColour: '#ED0C6D', tertiaryColour: '#ED0C6D'}">
</ngx-loading>
<div class="container-div">
  <div class="row ml-2">
    <div class="col-md-2 logo-text-div text-center">
      <span class="logo-text">COLIVE</span>
      <!-- <img class="img-fluid" src="./../../../../assets/Flow2Logo@2x.png"> -->
    </div>
    <div class="col-md-8">
      <div class="search">
        <div class="flex-width" id="auoComplete" [ngClass]="{'suggest-border':suggestionList.length}"
          [ngClass]="{'input-search':searchQuery!==null || suggestionList.length}">
          <ng-autocomplete class="ng-autocomplete" placeholder="Search property or location" id="auto-searchbar"
            (selected)='selectEvent($event)' (keypress)="keyPress($event)" [searchKeyword]="'name'"
            (inputChanged)='onChangeSearch($event)' [data]="suggestionList" [itemTemplate]="itemTemplate"
            [(ngModel)]="searchQuery">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <div class="d-flex" id="item-list">
              <ng-container *ngIf="item.type=='location'">
                <span class="material-icons-outlined location-property">location_on</span>
              </ng-container>
              <ng-container #logotemp *ngIf="item.type=='property'">
                <span class="material-icons-outlined location-property">location_city</span>
              </ng-container>
              <ng-container *ngIf="item.type=='auto'">

              </ng-container>
              <a class="suggestion-text" [innerHTML]="item.name"></a>
            </div>

          </ng-template>
          <span id="search-span" class="material-icons search-icon">search</span>
          <span id="mic-span" class="material-icons " (click)="startService()">mic_none</span>
        </div>
        <span id="search-span" class="material-icons search-icon">search</span>
        <!-- <span id="mic-span" class="material-icons mic-icon">mic_none</span> -->
      </div>
    </div>
  </div>
  <hr>
  <!-- nav-bar -->
  <div class="row">
    <div class="col-md-12">
      <nav>
        <div class="nav nav-tabs pl-5" id="nav-tab" role="tablist">
          <ng-container *ngIf="matchedPropertyList && matchedPropertyList.length">
            <a class="nav-link nav-item active text-center" id="'matchedProerties'" data-toggle="tab" role="tab"
              aria-controls="matched" aria-selected="true" [class.active]="tab=='matchedProerties'"
              (click)="tab='matchedProerties'">
              <div class="d-flex justify-content-center m-3">
                <span class="material-icons-outlined check-circle-icon">check_circle_outline</span>
                <span class="tab-title " [ngClass]="{'tab-title-active':tab=='matchedProerties'}">
                  Matched
                </span>
              </div>
            </a>
          </ng-container>
          <ng-container *ngIf="trendingPropertyList && trendingPropertyList.length">
            <a class="nav-link nav-item text-center" id="'tredingProperties'" data-toggle="tab" role="tab"
              aria-controls="treding" aria-selected="false" [class.active]="tab=='tredingProperties'"
              (click)="tab='tredingProperties'">
              <div class="d-flex justify-content-center m-3">
                <span class="material-icons-outlined trending-up-icon">trending_up</span>
                <span class="tab-title " [ngClass]="{'tab-title-active':tab=='tredingProperties'}">
                  Trending
                </span>
              </div>
            </a>
          </ng-container>
          <ng-container *ngIf="similarPropertyList && similarPropertyList.length">
            <a class="nav-link nav-item text-center" id="'similarProperties'" data-toggle="tab" role="tab"
              aria-controls="similar" aria-selected="false" [class.active]="tab=='similarProperties'"
              (click)="tab='similarProperties'">
              <div class="d-flex justify-content-center m-3">
                <span class="material-icons-outlined similar-icon">autorenew</span>
                <span class="tab-title " [ngClass]="{'tab-title-active':tab=='similarProperties'}">
                  Similar
                </span>
              </div>
            </a>
          </ng-container>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-backgroud tab-pane fade show active" id="matched" role="tabpanel"
          [class.active]="tab=='matchedProerties'" aria-labelledby="matchedProerties">
          <div id="totalResult">
            <span>About {{matchedPropertyList.length}} results</span>
          </div>
          <ng-container *ngIf="spellCorrectedQuery">
            <div class="d-flex did-you-mean">
              <div id="text-div">
                <span id="text">Did you mean:</span>
              </div>
              <div>
                <span id="query" style="cursor: pointer;" class="ml-1" [innerHTML]="spellCorrectedQuery | bold"
                  (click)="changeDidyouMean()"></span>
              </div>
            </div>
          </ng-container>
          <div class="row property-card" [ngClass]="{'showMore':property.showMore}"
            *ngFor="let property of matchedPropertyList">
            <ul>
              <li class="d-flex mt-3">
                <ng-container *ngIf="property && property.propertyDetails">
                  <div class="d-flex" *ngIf="property.propertyDetails.isSponsered">
                    <span id="sponsered">Sponsored</span>
                    <span id="dot"></span>
                  </div>
                </ng-container>
                <div>
                  <span id="location">{{property.metaData.subLocation}}</span>
                </div>
              </li>
              <li>
                <span id="propertyName">
                  <a href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                    (click)=" trackClicks(property.PropertyID)" target="_blank"
                    rel="noopener noreferrer">{{property.metaData.propertyName}}</a>
                </span>
              </li>
              <li class="justify-content-center">
                <ng-container *ngIf="property.metaData.locationHighlights">
                  <span id="propertyDescription">
                    <span *ngIf="!property.showMore">
                      {{trimString(property.metaData.locationHighlights,300)}}
                    </span>
                    <span *ngIf="property.showMore"> {{property.metaData.locationHighlights}} </span>
                    <div *ngIf="property.metaData.locationHighlights.length > 300"
                      (click)="property.showMore = !property.showMore" class="show-more-design">
                      Show
                      <span>{{property.showMore ? 'less' : 'More'}}</span>
                    </div>
                  </span>
                </ng-container>
              </li>
              <li class="mt-1">
                <span id="amenities">{{property.metaData.topAmenity}}</span>
              </li>
              <li class="d-flex mt-2">
                <ng-container *ngIf="property && property.propertyDetails && property.propertyDetails.distance[0]">
                  <div class="d-flex" id="location-margin">
                    <span class="material-icons-outlined location-icon">location_on</span>
                    <span id="locationRating">{{property.propertyDetails.distance[0]}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.metaData.propertyRating>0">
                  <div class="d-flex">
                    <span class="material-icons rating-icon">star</span>
                    <span id="locationRating">{{property.metaData.propertyRating}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.metaData.price">
                  <div class="d-flex ml-3" id="price-div">
                    <span id="price">₹ {{property.metaData.price}}<span id="onwards">&nbsp;&nbsp;onwards</span></span>

                  </div>
                </ng-container>
                <ng-container *ngIf="property && property.propertyDetails &&  property.propertyDetails.matchPercentage">
                  <div class="d-flex ml-3" id="circle">
                    <!-- property.propertyDetails.matchPercentage -->
                    <circle-progress class="mt--9" [percent]="property.propertyDetails.matchPercentage" [radius]="8"
                      [outerStrokeWidth]="2" [innerStrokeColor]="'#ED0C6D'" [innerStrokeWidth]="4"
                      [outerStrokeColor]="'#ED0C6D'" [clockwise]="false" [animation]="true" [showTitle]="false"
                      [showSubtitle]="false" [showUnits]="false" [imageHeight]="50" [imageWidth]="50"
                      [animationDuration]="300">
                    </circle-progress>
                    <span id="locationRating">{{property.propertyDetails.matchPercentage | number:'1.2-2'}} %</span>
                  </div>
                </ng-container>
              </li>
              <li class="d-flex mt-1">
                <div class=" d-flex text-center" *ngFor="let badge of property.badgeList;let i=index;let last=last">
                  <span id="badge" class="badge-text" [innerHTML]="badge"></span>
                  <!-- <ng-container *ngIf="i+1<property.badgeList.length">
                    <span id="dot"></span>
                  </ng-container> -->
                  <ng-container *ngIf="!last">
                    <span id="dot" class=" dot-badge"></span>
                  </ng-container>
                </div>
              </li>
              <li class="d-flex mt-2">
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">location_city</span>&nbsp;
                    <span class="badge-text">View Property</span>
                  </div>
                </a>
                <span id="dot"></span>
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">videocam</span>&nbsp;
                    <span class="badge-text">Schedule Video Visit</span>
                  </div>
                </a>
                <span id="dot"></span>
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">share</span>&nbsp;
                    <span class="badge-text">Share</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-backgroud tab-pane fade" id="treding" role="tabpanel" [class.active]="tab=='tredingProperties'"
          [class.show]="tab=='tredingProperties'" aria-labelledby="tredingProperties">
          <div id="totalResult">
            <span>About {{trendingPropertyList.length}} results</span>
          </div>
          <ng-container *ngIf="spellCorrectedQuery">
            <div class="d-flex did-you-mean">
              <span id="text">Did you mean:</span>
              <span id="query" class="ml-2" [innerHTML]="spellCorrectedQuery | bold"></span>
            </div>
          </ng-container>
          <div class="row property-card" [ngClass]="{'showMore':property.showMore}"
            *ngFor="let property of trendingPropertyList">
            <ul>
              <li class="d-flex mt-3">
                <div class="d-flex" *ngIf="property.propertyDetails.isSponsered">
                  <span id="sponsered">Sponsored</span>
                  <span id="dot"></span>
                </div>
                <div>
                  <span id="location">{{property.metaData.subLocation}}</span>
                </div>
              </li>
              <li>
                <span id="propertyName">
                  <a href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                    (click)=" trackClicks(property.PropertyID)" target="_blank"
                    rel="noopener noreferrer">{{property.metaData.propertyName}}</a>
                </span>
              </li>
              <li class="justify-content-center">
                <ng-container *ngIf="property.metaData.locationHighlights">
                  <span id="propertyDescription">
                    <span *ngIf="!property.showMore">
                      {{trimString(property.metaData.locationHighlights,300)}}
                    </span>
                    <span *ngIf="property.showMore"> {{property.metaData.locationHighlights}} </span>
                    <div *ngIf="property.metaData.locationHighlights.length > 300"
                      (click)="property.showMore = !property.showMore" class="show-more-design">
                      Show
                      <span>{{property.showMore ? 'less' : 'More'}}</span>
                    </div>
                  </span>
                </ng-container>
              </li>
              <li class="mt-1">
                <span id="amenities">{{property.metaData.topAmenity}}</span>
              </li>
              <li class="d-flex mt-2">
                <ng-container *ngIf="property.propertyDetails.distance[0]">
                  <div class="d-flex" id="location-margin">
                    <span class="material-icons-outlined location-icon">location_on</span>
                    <span id="locationRating">{{property.propertyDetails.distance[0]}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.metaData.propertyRating>0">
                  <div class="d-flex">
                    <span class="material-icons rating-icon">star</span>
                    <span id="locationRating">{{property.metaData.propertyRating}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.metaData.price">
                  <div class="d-flex ml-3">
                    <span id="price">₹ {{property.metaData.price}}</span>
                    <span id="onwards">&nbsp;&nbsp;onwards</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.propertyDetails.matchPercentage">
                  <div class="d-flex ml-3">
                    <!-- property.propertyDetails.matchPercentage -->
                    <circle-progress class="mt--9" [percent]="property.propertyDetails.matchPercentage" [radius]="8"
                      [outerStrokeWidth]="2" [innerStrokeColor]="'#ED0C6D'" [innerStrokeWidth]="4"
                      [outerStrokeColor]="'#ED0C6D'" [clockwise]="false" [animation]="true" [showTitle]="false"
                      [showSubtitle]="false" [showUnits]="false" [imageHeight]="50" [imageWidth]="50"
                      [animationDuration]="300">
                    </circle-progress>
                    <span id="locationRating">{{property.propertyDetails.matchPercentage | number:'1.2-2'}} %</span>
                  </div>
                </ng-container>
              </li>
              <li class="d-flex mt-1">
                <div class="m-1 d-flex text-center" *ngFor="let badge of property.badgeList;let i=index;let last=last">
                  <span id="badge" class="badge-text" [innerHTML]="badge"></span>
                  <!-- <ng-container *ngIf="i+1<property.badgeList.length">
                    <span id="dot"></span>
                  </ng-container> -->
                  <ng-container *ngIf="!last">
                    <span id="dot"></span>
                  </ng-container>
                </div>
              </li>
              <li class="d-flex m-0">
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">location_city</span>&nbsp;
                    <span class="badge-text">View Property</span>
                  </div>
                </a>
                <span id="dot"></span>
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">videocam</span>&nbsp;
                    <span class="badge-text">Schedule Video Visit</span>
                  </div>
                </a>
                <span id="dot"></span>
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">share</span>&nbsp;
                    <span class="badge-text">Share</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-backgroud tab-pane fade" id="similar" role="tabpanel" aria-labelledby="similarProperties"
          [class.show]="tab=='similarProperties'" [class.active]="tab=='similarProperties'">
          <div id="totalResult">
            <span>About {{similarPropertyList.length}} results</span>
          </div>
          <ng-container *ngIf="spellCorrectedQuery">
            <div class="d-flex did-you-mean">
              <span id="text">Did you mean:</span>
              <span id="query" class="ml-2" [innerHTML]="spellCorrectedQuery | bold"></span>
            </div>
          </ng-container>
          <div class="row property-card" [ngClass]="{'showMore':property.showMore}"
            *ngFor="let property of similarPropertyList">
            <ul>
              <li class="d-flex mt-3">
                <div class="d-flex" *ngIf="property.propertyDetails.isSponsered">
                  <span id="sponsered">Sponsored</span>
                  <span id="dot"></span>
                </div>
                <div>
                  <span id="location">{{property.metaData.subLocation}}</span>
                </div>
              </li>
              <li>
                <span id="propertyName">
                  <a href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                    (click)=" trackClicks(property.PropertyID)" target="_blank"
                    rel="noopener noreferrer">{{property.metaData.propertyName}}</a>
                </span>
              </li>
              <li class="justify-content-center">
                <ng-container *ngIf="property.metaData.locationHighlights">
                  <span id="propertyDescription">
                    <span *ngIf="!property.showMore">
                      {{trimString(property.metaData.locationHighlights,300)}}
                    </span>
                    <span *ngIf="property.showMore"> {{property.metaData.locationHighlights}} </span>
                    <div *ngIf="property.metaData.locationHighlights.length > 300"
                      (click)="property.showMore = !property.showMore" class="show-more-design">
                      Show
                      <span>{{property.showMore ? 'less' : 'More'}}</span>
                    </div>
                  </span>
                </ng-container>
              </li>
              <li class="mt-1">
                <span id="amenities">{{property.metaData.topAmenity}}</span>
              </li>
              <li class="d-flex mt-2">
                <ng-container *ngIf="property.propertyDetails.distance[0]">
                  <div class="d-flex" id="location-margin">
                    <span class="material-icons-outlined location-icon">location_on</span>
                    <span id="locationRating">{{property.propertyDetails.distance[0]}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.metaData.propertyRating>0">
                  <div class="d-flex">
                    <span class="material-icons rating-icon">star</span>
                    <span id="locationRating">{{property.metaData.propertyRating}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.metaData.price">
                  <div class="d-flex ml-3">
                    <span id="price">₹ {{property.metaData.price}}</span>
                    <span id="onwards">&nbsp;&nbsp;onwards</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="property.propertyDetails.matchPercentage">
                  <div class="d-flex ml-3">
                    <circle-progress class="mt--9" [percent]="property.propertyDetails.matchPercentage" [radius]="8"
                      [outerStrokeWidth]="2" [innerStrokeColor]="'#ED0C6D'" [innerStrokeWidth]="4"
                      [outerStrokeColor]="'#ED0C6D'" [clockwise]="false" [animation]="true" [showTitle]="false"
                      [showSubtitle]="false" [showUnits]="false" [imageHeight]="50" [imageWidth]="50"
                      [animationDuration]="300">
                    </circle-progress>
                    <span id="locationRating">{{property.propertyDetails.matchPercentage | number:'1.2-2'}} %</span>
                  </div>
                </ng-container>
              </li>
              <li class="d-flex mt-1">
                <div class="m-1 d-flex text-center" *ngFor="let badge of property.badgeList;let i=index;let last=last">
                  <span id="badge" class="badge-text" [innerHTML]="badge"></span>
                  <!-- <ng-container *ngIf="i+1<property.badgeList.length">
                    <span id="dot"></span>
                  </ng-container> -->
                  <ng-container *ngIf="!last">
                    <span id="dot"></span>
                  </ng-container>
                </div>
              </li>
              <li class="d-flex m-0">
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">location_city</span>&nbsp;
                    <span class="badge-text">View Property</span>
                  </div>
                </a>
                <span id="dot"></span>
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">videocam</span>&nbsp;
                    <span class="badge-text">Schedule Video Visit</span>
                  </div>
                </a>
                <span id="dot"></span>
                <a id="view-property-link" href="https://www.colive.com/Property/{{property.metaData.propertyLink}}"
                  (click)=" trackClicks(property.PropertyID)" target="_blank" rel="noopener noreferrer">
                  <div class="d-flex">
                    <span class="material-icons-outlined view-video-share-icon">share</span>&nbsp;
                    <span class="badge-text">Share</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- related search title -->
  <ng-container *ngIf="bottomSuggesionList && bottomSuggesionList.length">
    <div id="relatedSearchTitle">
      <span>Related Searches</span>
    </div>
    <!-- search cards -->
    <div class="row mt-3">
      <div class="col-lg-8 col-md-9 col-12 ml">
        <ng-container *ngFor="let suggestion of bottomSuggesionList">
          <div class="row col-md-3 search-cards search-cards-nth-child"
            (click)="searchBottomSuggestionQuery(suggestion.value)">
            <div class="d-flex suggested-text">
              <span class="material-icons search-icon">search</span>
              <div class="suggestion-text-div">
                <div class="wrap">
                  <span class="suggestion" [innerHTML]="suggestion.displayValue | bold"></span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-lg-4 col-md-3"></div>
    </div>
  </ng-container>


  <div class="row col-md-12 mb-5 container-footer">
    <div class="footer">
      <img src="./../../../../assets/paginator.png" alt="">
      <!-- <div id="page">
        <ng-container *ngFor="let value of numbers;let i=index">
          <ng-container *ngIf="i+1<6; else next">
            <div id="pagination-width">
              <span id="pagination">{{i+1}}</span>
            </div>
          </ng-container>
          <ng-template #next>
            <div id="pagination-width">
              <span id="pagination" (click)="nextPagination(i)">Next</span>
            </div>
          </ng-template>
        </ng-container>
      </div> -->
    </div>
  </div>

</div>
